.scaleTaskDemo-container {
    margin: 30px 0 0 0;
    padding: 30px 50px 30px 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.scaleTaskDemo-title {
    /* styles for the title */
}

.scaleTaskDemo-description {
    /* styles for the description div */
    display: flex;
    flex: column;
}

.scaleTaskDemo-text {
    /* styles for the text inside the left part */
    line-height: 1.5;
    text-align: justify;
    padding: 0 50px 0 0px;
    font-size: 18.5px;
}

.scaleTaskDemo-text br {
    content: "";
    display: block;
    margin-bottom: 10px;
}

.scaleTaskDemo-left-part {
    /* styles for the left part of the description */
    flex: 60;
}

.scaleTaskDemo-text {
    /* styles for the text inside the left part */
    line-height: 1.5;
    text-align: justify;
    padding: 0 50px 0 0px;
    font-size: 18.5px;
}

.scaleTaskDemo-text br {
    content: "";
    display: block;
    margin-bottom: 10px;
}