.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-name-font {
    font-size: 25px;
    white-space: nowrap;
}

.slider-bar {
    width: 100%;
    height: 5px;
    background: #ddd;
    outline: none;
    -webkit-appearance: none;
}

.slider-labels {
    display: flex;
    justify-content: space-between;
    width: 100%;
}